@use '@angular/material' as mat;

html {
  height: 100%;
  @include mat.theme(
    (
      color: (
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      typography: Roboto,
      density: 0,
    )
  );
}

body {
  color-scheme: light dark;
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);
  margin: 0;
  height: 100%;

  &.dark-theme {
    color-scheme: dark;
  }

  &.light-theme {
    color-scheme: light;
  }

  &.theme-azure {
    @include mat.theme((
      color: (primary: mat.$azure-palette, tertiary: mat.$blue-palette),
      typography: Roboto,
      density: 0,
    ));
  }

  &.theme-rose {
    @include mat.theme((
      color: (primary: mat.$rose-palette, tertiary: mat.$red-palette),
      typography: Roboto,
      density: 0,
    ));
  }

  &.theme-green {
    @include mat.theme((
      color: (primary: mat.$green-palette, tertiary: mat.$spring-green-palette),
      typography: Roboto,
      density: 0,
    ));
  }

  &.theme-violet {
    @include mat.theme((
      color: (primary: mat.$violet-palette, tertiary: mat.$magenta-palette),
      typography: Roboto,
      density: 0,
    ));
  }

  &.theme-orange {
    @include mat.theme((
      color: (primary: mat.$orange-palette, tertiary: mat.$chartreuse-palette),
      typography: Roboto,
      density: 0,
    ));
  }
}